/* You can add global styles to this file, and also import other style files */
h1:not(.title) {
    margin-left: 16px;
}
.nested {
    margin-left: 10px;
}

.element-id {
    color: #666666;
    font-size: 0.75em;
    &:before {
        content: "["
    }

    &:after {
        content: "]"
    }
}

.graph {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .graph .edge {
      stroke: #666;
      fill: none; }
      .graph .edge .edge-label {
        stroke: none;
        font-size: 12px;
        fill: #ffffff; }
    .graph .panning-rect {
      fill: rgba(0, 0, 0, 0);
      cursor: move; }
    .graph .node-group .node:focus {
      outline: none; }