<h1>Upload</h1>
<div class="row title">
  <div class="col-6">
    <h5>Job Definitions</h5>
  </div>
  <div class="col-6">
    <h5>Job Configs</h5>
  </div>
</div>
<div class="row uploader">
  <div class="col-6">
    <form>
      <div class="form-group">
        <label for="job-definition">Job definition zip fip</label>
        <input id="job-definition" class="form-control-file" type="file" #jobDefinitionFile placeholder="Upload job"
          accept=".zip">
      </div>

      <div class="form-group">
        <label for="job-definition-name">Job definition name</label>
        <input id="job-definition-name" class="form-control" [value]="jobDefinitionName"
          (input)="jobDefinitionName = $event.target.value">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-danger" (click)="uploadJobDefinition()">Upload Job</button>
      </div>


    </form>

  </div>
  <div class="col-6">
    <form>
      <div class="form-group">
        <label for="job-config">Config json file</label>
        <input name="job-config" type="file" class="form-control-file" #jobConfigFile placeholder="Upload config"
          accept=".json">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-danger" (click)="uploadJobConfig()">Upload Config</button>
      </div>
    </form>
  </div>
</div>