.row {
    margin: 24px 0;
}

form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 100%;
}

.actions {
    button {
        margin: 10px 15px;
    }
}

.listings {
    .selected {
        color: rgb(200, 255, 0);
        background: #333333;
    }

    >div {
        max-height: 400px;
        overflow-y: auto;
    }
}